ImgAzyobuziNet/wwwroot/wadl.xml

<?xml version="1.0" encoding="utf-8"?>
<application xmlns="http://wadl.dev.java.net/2009/02" xmlns:apigee="http://api.apigee.com/wadl/2010/07/" xmlns:xsd="http://www.w3.org/2001/XMLSchema">
    <resources base="http://img.azyobuzi.net/api/">
        <resource path="redirect.json">
            <param name="uri" style="query" required="true" type="xsd:string">
                <doc>A URI which you want to redirect to.</doc>
            </param>
            
            <param name="size" style="query" type="xsd:string" default="full">
                <doc>The size which you want.</doc>
                <option value="full"/>
                <option value="large"/>
                <option value="thumb"/>
            </param>
            
            <param name="use_https" style="query" type="xsd:boolean" default="false">
                <doc>It will redirect to the URI which starts with "https://" when set to true.</doc>
            </param>
            
            <method id="redirect" name="GET">
                <apigee:authentication required="false"/>
                <apigee:example url="/redirect.json?uri=http://f.hatena.ne.jp/azyobuzin/20120823110153&amp;size=thumb"/>
                <doc>Redirects to the image.</doc>
            </method>
        </resource>
        
        <resource path="all_sizes.json">
            <param name="uri" style="query" required="true" type="xsd:string">
                <doc>A URI which you want to expand.</doc>
            </param>
            
            <method id="all_sizes" name="GET">
                <apigee:authentication required="false"/>
                <apigee:example url="/all_sizes.json?uri=http://twitpic.com/af9ddv"/>
                <doc>Returns the URIs of all sizes it can get in JSON format.</doc>
            </method>
        </resource>
        
        <resource path="regex.json">
            <method id="regex" name="GET">
                <apigee:authentication required="false"/>
                <apigee:example url="/regex.json"/>
                <doc>Returns the service names it supports and regex patterns of their URIs in JSON format. The patterns are made for "Ignore Case"</doc>
            </method>
        </resource>
    </resources>
</application>
